PORT=8397
DOMAIN=app.jameschen.life
PREFIX=/minecraft
OUTPOST_DIR=/home/james/minecraft/outpost
SSH_PRIVATE_KEY_FILE=/home/james/.ssh/id_ed25519_digital_ocean
SERVER_STATUS_FILE_PATH=/var/www/app.jameschen.life/minecraft/kingdom-and-adventure
